<!DOCTYPE html>
<html>
<head>
    <title>Activity Log</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "index.html" %}
    {% block title %}Activity Log{% endblock %}
    {% block content %}

    <h2>Activity Log</h2>

    <!-- Search Form -->
    <form method="GET" action="{{ url_for('activity_log.activity_log_page') }}" class="search-form">
        <input type="text" name="search" value="{{ request.args.get('search', '') }}">
        <button type="submit">Search</button>
    </form>

    <br>

    <ul class="activity-log">
        {% for entry in log_entries[::-1] %}  <!-- Reverse the list -->
        <li>{{ entry }}</li>
        {% endfor %}
    </ul>

    {% endblock %}
</body>
</html>
