<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pharmacy Management System{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Pharmacy Management System</h1>
        <p>Hello {{ username }}!</p>
    </header>
    
    <nav>
        <ul class="nav-menu">
            {% if username == 'admin' %} <!-- Only admin can see the User button -->
            <li><a class="nav-button" href="{{ url_for('user.user_page') }}">User</a></li>
            {% endif %}
            <li><a class="nav-button" href="{{ url_for('manufacturer.manufacturer_page') }}">Manufacturer</a></li>
            <li><a class="nav-button" href="{{ url_for('product.product_page') }}">Product</a></li>
            <li><a class="nav-button" href="{{ url_for('inventory.inventory_page') }}">Inventory</a></li>
            <li><a class="nav-button" href="{{ url_for('purchase_transaction.purchase_transaction_page') }}">Purchase Transaction</a></li>
            <li><a class="nav-button" href="{{ url_for('sale_transaction.sale_transaction_page') }}">Sale Transaction</a></li>
            <li><a class="nav-button" href="{{ url_for('report.report_page') }}">Report</a></li>
            <li><a class="nav-button" href="{{ url_for('activity_log.activity_log_page') }}">Activity Log</a></li>
            <li><a class="nav-button" href="{{ url_for('login.logout') }}">Log out</a></li>
        </ul>
    </nav>
        
    <div class="content">
        {% block content %}
        Incoming features:
        <ul>
            <li>Sale transaction</li>
            <li>Adjustment transaction</li>
            <li>Search transactions with details</li>
            <li>Import and export transactions using JSON</li>
            <li>Export reports to PDF</li>
            <li>Change Activity Log from a string in text file to variables and stored in database</li>
            <li>...</li>
        </ul>
        {% endblock %}
    </div>
    <hr>
    <footer>
        <p class="center-align">Si Toan Nguyen</p>
    </footer>
</body>
</html>
